version: <%= VERSION %>
api:
  domain: ""
  auth: ""
archive_dir: <%= basedir %>
formats:
  file: json
  export: zip

# supported file formats:
# - json
# - yaml
# - xml
#
# supported export formats:
# - zip
