---
version: <%= VERSION %>
domain: ""
auth: ""
format: json
archive_dir: <%= archive_dir %>
export_dir: <%= export_dir %>
cache_dir: <%= cache_dir %>

# supported file formats:
# - json
# - yaml
# - xml
